.shop-contianer{
    margin: 1.5rem 0 ;
    padding: 0 2rem ;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    padding-right: 1.5rem;
}
.cart-container{
    background: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    position: sticky;
    top: 40px;
    
}
.cart-item{
    border-bottom: 2px solid #e4e4e4;
    padding-bottom: 7px;
}
.btn-container{
    margin-top: 3rem;
}
/* For responsive */
@media (max-width:800px) {
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}